<div class="wrapper wrapper-section">
  <div class="stream">
    {{#each data.posts}}
    <a href="/post/{{{this.id}}}">
      <article class="stream-post post-{{{this.size}}}" data-filter="{{{this.filter}}}">
        <img src="{{{this.image}}}" />
        <div class="item-text"><p><span>{{this.text}}</span></p></div>
      </article>
    </a>
    {{/each}}
  </div>
</div>
